body{
    background: lightgray;
}
p{
    text-align: center;
    font-size: 12px;
}
.span_back{
    margin-left: 40px;
    margin-top: 20px;
}
.a_back{
    text-decoration: none;
    color: orange;
}