.navigation-bar{
    background: lightgrey;
    color: white;
}
.btn_head{
    color: white;
    background: #0e8384;
    margin: 10px;
}
.div_body{
    background: lightgrey;
}
.div_foot{
    background: lightgrey;
}
